@model IEnumerable<MVC_School.Models.VakStudent>

@{
    ViewData["Title"] = "Default";
}

<h1>Vakken</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uren)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vak.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uren)
            </td>
        </tr>
}
    </tbody>
</table>